doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' integrity='sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='estilos/notificacion-donante-s.css')
        style
            include estilos/notificacion-donante-s.css
        title +1 Solicitud para Donar
    body
        // Crear el header de medifree
        header
            .cont-fondo-color
                img(src='https://vale-dev.s3.us-west-2.amazonaws.com/product/305-ProductodePrueba1-img2/img-medifree-logo.png' alt='MediFree')
        main
            .cont-main
                .cont-main-text
                    h1 ¡Tienes una petición de donación! 
                    h3 Hola, #{usuario.namesU}. #{usuarioQueQuiereRecibirElMedicamento.namesU} está interesado/a en que le dones el medicamento #{medicine.nameM}. Por favor, ingresa a "Mis solicitudes para donar", en la página 
                        a(href=`${hostingFrontend}` target='_blank' rel='noopener noreferrer') #{hostingFrontend}
        footer
            .cont-img-complemento
                img(src='https://res.cloudinary.com/silvestric/image/upload/v1624247024/img-medifree/woman-flowers_d5p0ig.png' alt='Woman')
            .cont-footer
                .div-texts
                    p
                        | MediFree - #{new Date().getFullYear()}. Todos los derechos reservados.
                    p ¡Encuentra tus medicinas gratis!
